body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.PossessCheckerWrapper {
  width: 100%;
  padding-top: 10px;
}

.PossessChecker {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  float: left;
  width: 194px;
  padding-right: 6px;
}

.menu__item {
  border-top: 1px solid #ccc;
  border-left: 8px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4px;
  padding-top: 3px;
  padding-left: 6px;
  padding-bottom: 3px;
}

.menu__item_state_current {
  border-top: 1px solid #999;
  border-left: 8px solid #999;
  border-bottom: 1px solid #999;
  background: linear-gradient(90deg, #ccc 33%, #fff 66%);

}


.content {
  float: right;
  width: 1000px;
}

.partsHeader {
  border-left: 14px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding-left: 6px;
  line-height: 1.4;
  font-size: 1.375rem;
}

.partsHeader__counter {
  margin-left: 10px;
}

.partsContainer {
  display: flex;
  flex-wrap: wrap;
}

.partsElm {
  border: 1px solid #dbdbdb;
  margin: 10px;
  width: 120px;
  
  /* クリックできないようにする */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.partsElm__division {
  margin: 5px;
  font-size: 50%;
  text-align: right;
}

.partsElm__progress {
  width: 100%;
  height: 5px;
}
.partsElm__count_0 {
  background-color: #777;
}

.partsElm__count_1,
.partsElm__count_2,
.partsElm__count_3,
.partsElm__count_4 {
  background-color: #fff;
}

.partsElm__progress_count_0,
.partsElm__progress_count_1 {
  background-color: #ddd;
}
.partsElm__progress_count_2 {
  background: linear-gradient(90deg, #0089f2 33%, #ddd 33%);
}
.partsElm__progress_count_3 {
  background: linear-gradient(90deg, #0089f2 66%, #ddd 66%);
} 
.partsElm__progress_count_4 {
  background-color: #0089f2;
}